#container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 0px;
    justify-content: center;
    align-content: center;

}

.grid-item{
    border: 1px solid black;
    background-color: white;
    
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#sizeButton{
    font-size: x-large;
    margin-top: 1em;
    border-radius: 2em;
}